*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(70, 142, 236);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;

}

header{
    color: white;
    text-align: center;
    margin-bottom: 20px;

}
section{
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.315);
    

}

div{
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}